
.tl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
.tl-container * {
  box-sizing: border-box;
}

.tl {
  width: 100%;
  /*padding: 50px 50px;*/
  position: relative;
}
.tl:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.tl:after {
  content: "";
  display: table;
  clear: both;
}

.tl-entry {
  clear: both;
  text-align: left;
  position: relative;
}
.tl-entry .tl-title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
  font-weight:500;
}
.tl-entry .tl-title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
  box-sizing: content-box;
}
    .tl-entry .tl-title h3 {
        margin: 0;
        font-size: 120%;
        color: #bd3a3a !important; 
        font-weight: 500 !important;
    }
.tl-entry .tl-title p {
  margin: 0;
  font-size: 100%;
}
.tl-entry .tl-body {
  margin: 0 0 5em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.tl-entry .tl-body p {
  line-height: 1.4em;
}
.tl-entry .tl-body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.tl-entry .tl-body ul {
  color: #177d70;
  padding-left: 0;
}
.tl-entry .tl-body ul li:before {
  margin-right: .5em;
}
